<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
var canvas = document.getElementsByTagName('svg')[0]
var main = document.getElementsByTagName('main')[0]
var Header = document.getElementsByTagName('header')[0]
var Overflow = document.getElementsByTagName('nav')[0]
var Footer = document.getElementsByTagName('footer')[0]

var canvasHeight = document.documentElement.clientHeight - Header.offsetHeight - Overflow.offsetHeight - Footer.offsetHeight

canvas.setAttribute("height", canvasHeight)
canvas.setAttribute("width", main.offsetWidth)

console.log(canvasHeight)

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height")

var format = d3.format(",d")

var pack = d3.pack()
    .size([width, height])
    .padding(1.5)

d3.csv("http://localhost:8080/api/get-csv", function(d) {
    d.likes = +d.likes
    if (d.likes) return d
}, function(error, classes) {
    if (error) throw error

    var root = d3.hierarchy({children: classes})
        .sum(function(d) { return d.likes })
        .each(function(d) {
        if (thumbnailUrl = d.data.thumbnailUrl) {
            var thumbnailUrl, i = thumbnailUrl.lastIndexOf(".")
            d.thumbnailUrl = thumbnailUrl
            d.package = thumbnailUrl.slice(0, i)
            d.class = thumbnailUrl.slice(i + 1)
        }
        if (Url = d.data.Url) {
            var Url, i = Url.lastIndexOf(".")
            d.Url = Url
            d.package = Url.slice(0, i)
            d.class = Url.slice(i + 1)
        }
        })

    var node = svg.selectAll(".node")
    .data(pack(root).leaves())
    .enter().append("g")
        .attr("class", "node")
        .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")" })

    node.append("clipPath")
        .attr("id", function(d) { return "clip-" + d.thumbnailUrl })
    .append("circle")
        .attr("r", function(d) { return d.r })

    node.append("a")
        .attr("href", function(d) { return d.Url })
    .append("image")
        .attr("clip-path", function(d) { return "url(#clip-" + d.thumbnailUrl + ")" })
        .attr("xlink:href", function(d) { return d.thumbnailUrl })
        .attr("x", function(d) { return -d.r })
        .attr("y", function(d) { return -d.r })
        .attr("width", function(d) { return d.r * 2 })
        .attr("height", function(d) { return d.r * 2 })
})
</script>