<main>
    <div style="display:inline-block;margin:16px auto 8px auto;letter-spacing:4px; font-size: 2em; text-transform: uppercase; font-weight: lighter;">
    <span style="background-color: white;">Elastic</span>
    <span style="background-color: white;">Memories</span>

    </div>
    <svg></svg>

    <span style="background-color: white; padding: 2px 4px;">Request your own:</span><br>
<form id="form" style="background-color: white; margin-top: 0px; display: inline-block; padding: 2px" action="javascript:signup()">
  <input type="text" id="input" maxlength="32" autocomplete="off" placeholder="Instagram account" style="min-width: initial; border: 1px solid #4d6394;" ><input type="submit" id="submit_button" style="position: initial; border: 1px solid #4d6394; margin-left: 4px;" value="go">
</form>
</main>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
var canvas = document.getElementsByTagName('svg')[0]
var main = document.getElementsByTagName('main')[0]
var Header = document.getElementsByTagName('header')[0]
var Overflow = document.getElementById('overflow')
var Footer = 42 // document.getElementsByTagName('footer')[0]

main.style.minHeight = document.documentElement.clientHeight - Header.offsetHeight - Overflow.offsetHeight - Footer + 'px'

var canvasHeight = document.documentElement.clientHeight - Header.offsetHeight - Overflow.offsetHeight - Footer
main.style.backgroundImage = 'url(https://s3-us-west-1.amazonaws.com/fasterthan/digital_ripple_white.gif)'

document.body.removeChild(Overflow)

if (canvasHeight > main.offsetWidth || window.orientation)
    canvas.setAttribute("height", main.offsetWidth)
else
    canvas.setAttribute("height", canvasHeight)

canvas.setAttribute("width", main.offsetWidth)

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height")

var format = d3.format(",d")

var pack = d3.pack()
    .size([width, height])
    .padding(1.5)

d3.csv(window.location.origin + "/api/get-csv", function(d) {
    d.likes = +d.likes
    if (d.likes) return d
}, function(error, classes) {
    if (error) throw error

    var root = d3.hierarchy({children: classes})
        .sum(function(d) { return d.likes })
        .each(function(d) {
        if (thumbnailUrl = d.data.thumbnailUrl) {
            var thumbnailUrl, i = thumbnailUrl.lastIndexOf(".")
            d.thumbnailUrl = thumbnailUrl
            d.package = thumbnailUrl.slice(0, i)
            d.class = thumbnailUrl.slice(i + 1)
        }
        if (Url = d.data.Url) {
            var Url, i = Url.lastIndexOf(".")
            d.Url = Url
            d.package = Url.slice(0, i)
            d.class = Url.slice(i + 1)
        }
        })

    var node = svg.selectAll(".node")
    .data(pack(root).leaves())
    .enter().append("g")
        .attr("class", "node")
        .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")" })

    node.append("clipPath")
        .attr("id", function(d) { return "clip-" + d.thumbnailUrl })
    .append("circle")
        .attr("r", function(d) { return d.r })

    node.append("a")
        .attr("xlink:href", function(d) { return d.Url })
    .append("image")
        .attr("clip-path", function(d) { return "url(#clip-" + d.thumbnailUrl + ")" })
        .attr("xlink:href", function(d) { return d.thumbnailUrl })
        .attr("x", function(d) { return -d.r })
        .attr("y", function(d) { return -d.r })
        .attr("width", function(d) { return d.r * 2 })
        .attr("height", function(d) { return d.r * 2 })
})

function signup() {
    var main = document.getElementsByTagName('main')[0]
    var quote = document.getElementById('input')
    var quoteForm = document.getElementById('form')

    if (!quote.value)
        quote.placeholder = "Enter your IG account"

    else {
        var httpRequest = new XMLHttpRequest()

        // Retrieve data in quote input field and convert to lower case
        // This function gets called once httprequest.send has sent data to the server AND we received a response back form the server (res.send)
        httpRequest.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            // Disable submit button after quote has successfully been sent
            quote.innerText = this.response
            
            document.getElementById('submit_button').disabled = true
            document.getElementById('form').reset()
            document.getElementById('input').placeholder = this.response
        }
        }
        httpRequest.open('POST', '/elastic/signup')
        // Setting request header is required
        httpRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        // Send quote to server
        httpRequest.send(quote.value)
        document.getElementById('form').reset()
        document.getElementById('input').placeholder = "Submitting request..."
    }
}
</script>