<h1>David Alexander Foster</h1>

<h2>
    <span>AS in Mathematics</span><div id="separator"></div><span>AA in Humanities</span>
</h2>

<h3>Present</h3>
<ul>
    <li>- Site administrator at <a href="http://fruitsandnuts.ucdavis.edu">FNRIC</a>
    <li>- Computer Science Student at <a href="https://www.ucdavis.edu">UCD</a></li>
</ul>

<h3>Past</h3>
<ul>
    <li>- Production Management Intern @ <a href="http://arts.ucdavis.edu/theatre-and-dance">UCD Theatre &amp; Dance</a></li>
    <li><a href="http://www.msjc.edu/SI/Pages">- Student Aid</a> for computer science @ <a href="http://www.msjc.edu">MSJC</a></li>
    <li>- Founder / President of 1<sup>st</sup> <a href="http://nerdsquad.msjc.edu">computer science club</a> @ MSJC</li>
    <li>- 1<sup>st</sup> Place Champion @ Cal State LA <a href="http://progfest.calstatela.edu:8080/progfest/scoreboard.html">Progfest 2016</a></li>
    <li>- Web Developer @ <a href="http://robosubucr.gitlab.io">robosubucr.com</a></li>
</ul>