<main>

<h1>David Alexander Foster</h1>

<h2>
    <span>AS in Mathematics</span><div id="separator"></div><span>AA in Humanities</span>
</h2>

<!--<table>
    <tr>
        <td>- HTML/CSS/Javascript</td>
        <td>- C++</td>
    </tr>
        <td>- Fullstack Web Dev</td>
        <td>- Node.js</td>
    </tr>
</table>-->
<ul id="skills">
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>Node.js</li>
    <li>Fullstack Webdev</li>
    <li>C++</li>
</ul>

<h3>Present</h3>
<ul>
    <li>- Computer science undergraduate at UC Davis</li>
    <li>- Freelance web developer</li>
</ul>

<h3>Past</h3>
<ul>
    <li>- Site administrator at UC Davis FNRIC</li>
    <li>- Student Aid for computer science at Mt San Jacinto College</li>
    <li>- Founder / President of 1st <a href="http://nerdsquad.msjc.edu">computer science club</a> at MSJC</li>
    <li>- 1st Place Champion Cal State LA Progfest 2016</li>
</ul>

</main>