<h1>David Alexander Foster</h1>

<h2>
    <span>AS in Mathematics</span><div id="separator"></div><span>AA in Humanities</span>
</h2>

<h3>Present</h3>
<ul>
    <li>- Computer Science Student at UC Davis</li>
</ul>

<h3>Past</h3>
<ul>
    <li>- Site administrator at UC Davis FNRIC</li>
    <li>- Production Management Intern at UCD Theatre &amp; Dance</li>
    <li>- Student Aid for computer science at Mt San Jacinto College</li>
    <li>- Founder / President of 1<sup>st</sup> <a href="http://nerdsquad.msjc.edu">computer science club</a> @ MSJC</li>
    <li>- 1<sup>st</sup> Place Champion Cal State LA Progfest 2016</li>
    <li>- Web Developer for <a href="http://robosubucr.gitlab.io">robosubucr.com</a></li>
</ul>