<script>
  function login() {
    var main = document.getElementsByTagName('main')[0]
    var input = document.getElementById('input')
    var form = document.getElementById('form')

    if (!input.value)
      input.placeholder = "Enter the pass code"

    else {
      var httpRequest = new XMLHttpRequest()

      // Retrieve data in quote input field and convert to lower case
      // This function gets called once httprequest.send has sent data to the server AND we received a response back form the server (res.send)
      httpRequest.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          // Disable submit button after quote has successfully been sent
          form.reset()
          document.getElementById('submit_button').disabled = true
          input.placeholder = this.response
        }
      }
      httpRequest.open('POST', '/login')
      // Setting request header is required
      httpRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
      // Send quote to server
      httpRequest.send(input.value)
    }
  }
</script>

<form id="form" action="javascript:login()">
  <input type="text" id="input" maxlength="16" placeholder="Enter the pass code">
  <input type="submit" id="submit_button" value="Go">
</form>