<div id="overflow">
    <nav>
      <em>{{quote}}</em>
      <a href="/quotes">&rarr;</a>
    </nav>
</div>
<script>
  var Nav = document.getElementsByTagName('nav')[0]
  var Overflow = document.getElementById('overflow')
  var response = document.getElementById('response')

  var navHeight = 40
  var noGradient = 'box-shadow: none'
  var scrollbarHeight = Nav.offsetHeight - Nav.clientHeight
  Nav.style.height = navHeight + scrollbarHeight + 'px'
  Overflow.style.height = navHeight + 'px'

  gradient()
  Nav.onscroll = function (ev) {
    gradient()
  }
  window.onresize = function (event) {
    if (Math.round(Nav.scrollLeft) + (Nav.scrollWidth - Nav.clientWidth) == 0)
      Overflow.style.cssText += noGradient
    else gradient()
  }
  function gradient() {
    Overflow.style.cssText += 'box-shadow: #888 -' + (Nav.scrollWidth - Nav.clientWidth - Nav.scrollLeft) + 'px 0px 40px -40px inset, #888 ' + Nav.scrollLeft + 'px 0px 40px -40px inset'
  }
</script>