<form id="form" action="javascript:addQuote()">
  <input type="text" autocapitalize="sentences" autocorrect="on" id="input" maxlength="128" autocomplete="off" name="quote"
    placeholder="Write something poetic...">
  <input type="submit" id="submit_button" value="🖋">
</form>
<script>
  function addQuote() {
    var quote = document.getElementById('input')
    var quoteForm = document.getElementById('form')
    if (!quote.value)
      quote.placeholder = "Write something!"

    else {
      var httpRequest = new XMLHttpRequest()
      var data = { quote: quote.value }
      httpRequest.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          var newQuote = document.createElement('p')
          quoteForm.innerHTML = quote.value
        }
      }
      httpRequest.open('POST', '/quotes/new')
      httpRequest.setRequestHeader("Content-Type", "application/json;charset=UTF-8")
      httpRequest.send(JSON.stringify(data))
    }
  }
</script>