<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">

    <script type="text/javascript" src="htjs/ht.js"></script>
    <link rel="stylesheet" type="text/css" href="https://s3-us-west-1.amazonaws.com/fasterthan/font-awesome-4.7.0/css/font-awesome.min.css">
    <link type="text/css" href="style.css" rel="stylesheet">
  </head>

  <body></body>

  <script>
    var Html = new Html('#fff')
    var Body = new Body(760, 'sans-serif')
    var Header = new Header(64)
    var Ticker = new Ticker(40, 'blue')
    var Main = new Main()
    var Footer = new Footer(40)

    Body.appendChild(Header)
    Body.appendChild(Ticker)
    Body.appendChild(Main)
    Body.appendChild(Footer)

    window.onload = function() {
      Main.style.minHeight = `${Html.height - Header.offsetHeight - Ticker.offsetHeight - Footer.offsetHeight}px`

      request('/david', 'GET', function(Person) {
        loadPage(Person)
      })
      request('/resume', 'GET', function(resume) {
        home(resume)
      })
      request('/quotes/faster', 'GET', function(quote) {
        Ticker.addQuote(quote)
      })
    }
    
    function loadPage(res) {
      var Person = JSON.parse(res)

      Html.changeTitle(Person.name)
      Html.backgroundColor('#fff')
      Header.logo(Person.photo)
      Header.heading(Person.style.icon, Person.style.colors.accent)
      Header.borderColor('#eee')
      Ticker.arrowColor(Person.style.colors.accent)
      Footer.color(Person.style.colors.accent)

      Header.loading(false)
    }

    function home(res) {
      Main.innerHTML = res
      window.history.pushState('', 'Home', '/')

      Header.loading(false)
    }

    function quotes(res) {
      Main.innerHTML = res
      window.history.pushState('', 'Quotes', '/quotes')

      Header.loading(false)
    }

    function photos(res) {
      var object = JSON.parse(res)
      var instagramPhotos = ""
      Main.innerHTML = ''
      for (let i = 0; i < object.data.length; i++) {
        var tmp = document.createElement('img')
        tmp.style.cursor = 'pointer'
        tmp.className = 'ig'
        tmp.src = object.data[i].images.low_resolution.url
        tmp.onclick = function() { location.href = object.data[i].link }
        Main.appendChild(tmp)
      }

      window.history.pushState(history.state, 'photos', '/photos')
      Header.loading(false)
    }

    function addQuote() {
      var main = document.getElementsByTagName('main')[0]
      var quote = document.getElementById('input')
      var quoteForm = document.getElementById('form')
      if (!quote.value)
        quote.placeholder = "Write something!"

      else {
        var httpRequest = new XMLHttpRequest()

        var data = { quote: quote.value }
        // Retrieve data in quote input field and convert to lower case
        // This function gets called once httprequest.send has sent data to the server AND we received a response back form the server (res.send)
        httpRequest.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            var newQuote = document.createElement('p')
            quoteForm.innerHTML = quote.value
          }
        }
        httpRequest.open('POST', '/quotes/new')
        // Setting request header is required
        httpRequest.setRequestHeader("Content-Type", "application/json;charset=UTF-8")
        // Send quote to server
        httpRequest.send(JSON.stringify(data))
      }
    }
  </script>
</html>