<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">

<script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="htjs/ht.js"></script>
    <link rel="stylesheet" type="text/css" href="https://s3-us-west-1.amazonaws.com/fasterthan/font-awesome-4.7.0/css/font-awesome.min.css">
    <link type="text/css" href="style.css" rel="stylesheet">
  </head>

  <body></body>

  <script>
    var Html = new Html('#fff')
    var Body = new Body(760, 'sans-serif')
    var Header = new Header(64)
    var Ticker = new Ticker(40, 'blue')
    var Main = new Main()
    var Footer = new Footer(40)

    Body.appendChild(Header)
    Body.appendChild(Ticker)
    Body.appendChild(Main)
    Body.appendChild(Footer)

    window.onload = function() {
      Main.style.minHeight = `${Html.height - Header.offsetHeight - Ticker.offsetHeight - Footer.offsetHeight}px`

      /*ONLOAD-ENTRY*/
    }
    
    function loadPage(res) {
      var Person = JSON.parse(res)

      Html.changeTitle(Person.name)
      Html.backgroundColor(Person.style.colors.background)
      Header.logo(Person.photo)
      Header.heading(Person.style.icon, Person.style.colors.accent)
      Header.borderColor('#eee')
      Ticker.arrowColor(Person.style.colors.accent)
      Footer.color(Person.style.colors.accent)

      Header.loading(false)
    }

    function home(res) {
      Main.innerHTML = res
      window.history.pushState('', 'Home', '/')

      Header.loading(false)
    }

    function quotes(res) {
      Main.innerHTML = res

      window.history.pushState('', 'Quotes', '/quotes')
      Header.loading(false)
    }

    function photos(res) {
      var object = JSON.parse(res)
      var instagramPhotos = ""
      Main.innerHTML = ''
      for (let i = 0; i < object.data.length; i++) {
        var tmp = document.createElement('img')
        tmp.style.cursor = 'pointer'
        tmp.className = 'ig'
        tmp.src = object.data[i].images.low_resolution.url
        tmp.onclick = function() { location.href = object.data[i].link }
        Main.appendChild(tmp)
      }

      window.history.pushState(history.state, 'photos', '/photos')
      Header.loading(false)
    }

    function elastic(res) {
      Main.innerHTML = res
      window.history.pushState('', 'Elastic Memories', '/elastic')

      var canvas = document.getElementsByTagName('svg')[0]
      var main = document.getElementsByTagName('main')[0]
      var Header = document.getElementsByTagName('header')[0]
      var Overflow = document.getElementsByTagName('aside')[0]
      
      var canvasHeight = document.documentElement.clientHeight - Header.offsetHeight - Overflow.offsetHeight - 42

      // Set the height/width (square) of SVG to height or width of main
      // depending on which one is bigger
      canvas.setAttribute("width", main.offsetWidth)

      if (main.offsetWidth > canvasHeight)
        canvasHeight = main.offsetWidth
      else
        canvas.setAttribute("width", canvasHeight)
        
      canvas.setAttribute("height", canvasHeight)


      main.style.backgroundImage = 'url(images/digital_ripple_2.gif'

      var svg = d3.select("svg"),
          width = +svg.attr("width"),
          height = +svg.attr("height")

      var format = d3.format(",d")

      var pack = d3.pack()
          .size([width, height])
          .padding(1.5)

      d3.csv("http://localhost:8080/api/get-csv", function(d) {
        d.likes = +d.likes
        if (d.likes) return d
      }, function(error, classes) {
        if (error) throw error

        console.log(classes)

        var root = d3.hierarchy({children: classes})
            .sum(function(d) { return d.likes })
            .each(function(d) {
              if (thumbnailUrl = d.data.thumbnailUrl) {
                var thumbnailUrl, i = thumbnailUrl.lastIndexOf(".")
                d.thumbnailUrl = thumbnailUrl
                d.package = thumbnailUrl.slice(0, i)
                d.class = thumbnailUrl.slice(i + 1)
              }
              if (Url = d.data.Url) {
                var Url, i = Url.lastIndexOf(".")
                d.Url = Url
                d.package = Url.slice(0, i)
                d.class = Url.slice(i + 1)
              }
            })

        var node = svg.selectAll(".node")
          .data(pack(root).leaves())
          .enter().append("g")
            .attr("class", "node")
            .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")" })

        node.append("clipPath")
            .attr("id", function(d) { return "clip-" + d.thumbnailUrl })
          .append("circle")
            .attr("r", function(d) { return d.r })

        node.append("a")
            .attr("href", function(d) { return d.Url })
          .append("image")
            .attr("clip-path", function(d) { return "url(#clip-" + d.thumbnailUrl + ")" })
            .attr("xlink:href", function(d) { return d.thumbnailUrl })
            .attr("x", function(d) { return -d.r })
            .attr("y", function(d) { return -d.r })
            .attr("width", function(d) { return d.r * 2 })
            .attr("height", function(d) { return d.r * 2 })
      })

      Header.loading(false)
    }

    function addQuote() {
      var main = document.getElementsByTagName('main')[0]
      var quote = document.getElementById('input')
      var quoteForm = document.getElementById('form')
      if (!quote.value)
        quote.placeholder = "Write something!"

      else {
        var httpRequest = new XMLHttpRequest()

        var data = { quote: quote.value }
        // Retrieve data in quote input field and convert to lower case
        // This function gets called once httprequest.send has sent data to the server AND we received a response back form the server (res.send)
        httpRequest.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            var newQuote = document.createElement('p')
            quoteForm.innerHTML = quote.value
          }
        }
        httpRequest.open('POST', '/quotes/new')
        // Setting request header is required
        httpRequest.setRequestHeader("Content-Type", "application/json;charset=UTF-8")
        // Send quote to server
        httpRequest.send(JSON.stringify(data))
      }
    }
  </script>
</html>