<div id="overflow">
    <aside>
        <!--QUOTE-ENTRY-->
    </aside>
</div>
<script>
    var Aside = document.getElementsByTagName('aside')[0]
    var Main = document.getElementsByTagName('main')[0]
    var Header = document.getElementsByTagName('header')[0]
    var Overflow = document.getElementById('overflow')

    var asideHeight = 40
    var noGradient = 'box-shadow: none'
    var scrollbarHeight = Aside.offsetHeight - Aside.clientHeight
    Aside.style.height = asideHeight + scrollbarHeight + 'px'
    Overflow.style.height = asideHeight + 'px'

    gradient()

    Aside.onscroll = function () {
        gradient()
    }
    window.addEventListener('resize', function () {
        if (Aside.scrollLeft + Aside.scrollWidth - Aside.clientWidth == 0)
            Aside.style.cssText += noGradient
        else gradient()
    })

    function gradient() {
        Aside.style.cssText += 'box-shadow: #888 -' + maxGrad(Aside.scrollWidth - Aside.clientWidth - Aside.scrollLeft) + 'px 0px 40px -40px inset, #888 ' + maxGrad(Aside.scrollLeft) + 'px 0px 40px -40px inset'
    }
    function maxGrad(val) {
        if (val >= 56) return 56
        else return val
    }
</script>