<footer>
  <a href="mailto:faster@ucdavis.edu"><i class="far fa-envelope"></i></a>
  <a href="https://www.instagram.com/_u/the.t.u.r.n"><i class="fab fa-instagram"></i></a>
  <a href="https://gitlab.com/dfoster"><i class="fab fa-gitlab"></i></a>
  <a href="https://github.com/fasterthan"><i class="fab fa-github"></i></a>
</footer>
<script>
  var Main = document.getElementsByTagName('main')[0]
  var Header = document.getElementsByTagName('header')[0]
  var Overflow = document.getElementById('overflow')
  var Footer = document.getElementsByTagName('footer')[0]

  var OverflowHeight = 0
  if (Overflow) OverflowHeight = Overflow.offsetHeight

  stickyFooter()

  window.addEventListener('resize', function () {
      stickyFooter()
  })
  function stickyFooter() {
      Main.style.minHeight = document.documentElement.clientHeight - Header.offsetHeight - OverflowHeight - Footer.offsetHeight + 'px'
  }
</script>